body, html, ul, li, form, div {
	margin : 0;
	padding: 0;
}

body, html {
	overflow: hidden;
}

body {
	background-image: url('/static/images/background-tile.png');
}

#content {
	position  : relative;
	display   : block;
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	color          : white;
	text-decoration: none;	
}

div#header {
	width           : 100%;
	height          : 38px;
	padding         : 14px 0 0 0px; 
	background-color: #414141;
	text-transform  : uppercase;
	font-size       : 18px;
	font-family     : "Klavika Basic Regular";
	color           : #b6b6b6;
}
div#header div {
	padding: 0 0 0 10px; 
}

div#header a, div#header ul, div#header li {
	height        : 30px;
	vertical-align: middle;
}

div#header li a:link, div#header li a:visited {
	color: #b5b5b5;
}

div#header li a:hover, div#header li a:active {
	color: white;
}

div#header li {
	list-style: none;
	display   : inline-block;
	padding   : 0 14px 0 19px ;
}

div#header #my_games_tab {
	background   : transparent left center no-repeat url('/static/images/slicesv2_14.png');
}

div#header ul {
	display: inline-block;
	background: transparent right center no-repeat url('/static/images/slicesv2_14.png');
	padding: 0 3px 0 0;
}

div#header li {
	background: transparent left center no-repeat url('/static/images/slicesv2_12.png');
	padding-left : transparent 3px;
}

div#header li.arrow_button {
	border-left: none;
	background : none;
}

div#header li.arrow_button a {
	color      : transparent;
}

div#header #go_left {
	background: transparent url('/static/images/slicesv2_08a.png') no-repeat -12px -8px;
}

div#header #go_right {
	background: transparent url('/static/images/slicesv2_08b.png') no-repeat 5px -8px;
}

div#subheader {
	width           :  100%;
	height          : 40px;
	background-color: #f5f5f5;
}

div.align_right {
	float  : right;
	padding: 8px 20px 0 0;
}

div#slider {
	margin: 4px 20px 0 0;
	width : 200px;
	float : left;
}

input#search_box {
	padding: 0;
	display: inline;
	height : 18px;
	width  : 180px;
	float  : left;
}

div#games {
	background  : transparent;
	padding     : 15px;
	min-height  : 100%;
	/* Adjust for sidebar. */
	margin-right: 10px;
}

div#games_inner {
	display: inline-block;
}

div.game_cover_wrapper {
	width         : 295px;
	height        : 405px;
	float         : left;
	position      : relative;
	text-align    : center;
	display       : table;
}

div.game_cover_wrapper2 {
	display       : table-cell;
	vertical-align: middle;
	width         : 100%;
	position      : static;
}

div.game_cover {
	width             : 265px;
	height            : 375px;
	background-color  : green;
	text-align        : left;
	display           : inline-block;
	position          : relative;
	box-shadow        : 0 0 6px 2px rgba(0, 0, 0, 0.25);
}

div.popup {
	display           : none;
	width             : 295px;
	position          : absolute;
	left              : 265px;
	top               : 50px;
	z-index           : 10;
	background        : white;
	border-radius     : 5px;
	box-shadow        : 0 0 4px 4px rgba(0, 0, 0, 0.25);
	/* arrow-specific -- overwritten by Javascript. */
	margin            : 0 0 0 25px;
}

div.popup_inner {
	text-align   : left;
	/* arrow-specific -- overwritten by Javascript. */
	margin       : 0 0 0 -25px;
	padding      : 0 0 0 25px;
	background   : transparent url('/static/images/popup_arrow.png') no-repeat left 20px;
}

div.popup_body {
	background: transparent;
	min-height: 100px;
	padding   : 10px;
}

div.popup h2 {
	width: 307px;
	height: 55px;
	padding: 15px 0 0 35px;
	text-align: left;
	color: white;
	font-size: 20px;
	font-family: "Arial";
	margin: -5px 0 0 -25px;
	display: block;
	background: url('/static/images/popup-header.png') no-repeat left top;
}

/* Required by http://www.methvin.com/splitter/index.html */

#split_frame>div {
	overflow: auto;
	width   : 100%;
	height  : 100%;
}

#split_frame_wrapper {
	position: absolute;
	top     : 92px;
	height  : 100%;
	width   : 100%;
}

.vsplitbar {
	width: 5px;
	background: #aaa;
}

#subheader .ui-state-default, #subheader .ui-widget-header .ui-state-default {
	width      :24px;
	height     :24px;
	position   :absolute;
	top        :-8px;
	margin-left:-12px;
	z-index    :200;
	background : url('/static/images/05-sliderbar-button.png') no-repeat 0px 0.1em;
	border     : none;
}

#subheader .ui-slider-horizontal  {
	height: .6em;
}

#subheader a  {
	outline:none;
	-moz-outline-style:none;
}

#subheader .ui-slider {
	width        : 128px;
	height       : 4px;
	position     : relative;
	margin       : 10px 50px 0 40px;
	padding      : 0 0 0 0;
	border-radius: 0;
	background   : transparent;
	border       : transparent;
}

#subheader .align_right {
	background: transparent url('/static/images/05-sliderbar-bg.png') no-repeat left -1px;
}

#sidebar {
	position  : absolute;
	float     : right;
	top       : 0px;
	right     : 0;
	/* background: white left center repeat-y url('/static/images/sidebar-border.png'); */
	background: url('/static/images/bg_tile_lite.png');
	display   : none;
	width     : 300px;
	padding   : 0 0 0 6px;
	min-height: 100%;
}

#sidebar p {
}

#search_box {
	margin: 0 30px 0 0;
}
#subheader .align_left {
	float  : left;
}

#subheader .align_left ul li {
	list-style : none;
	display    : inline-block;
	font-family: "Arial Bold";
	font-size  : 12.5px;
	margin     : 12px 13px 0 0;
	float      : left;
}

#subheader .align_left ul li .label {
	color: #808080;
}

#subheader .align_left ul li .menu {
	color: #666;
}

#subheader .align_left ul li#refresh_button {
	margin: 7px 20px -13px 30px;
	padding: 0;
}

#chart_canvas , #chart_bg {
	margin  : 20px 0 0 20px; 
	height  : 260px;
	width   : 260px
;	position: absolute;
	top     : 0;
}

#chart_canvas {
	z-index : 10;
}

#chart_bg {
	z-index : 1;
}

#suggestions {
	margin-top: 300px;
}

div.game_cover.glow {
	box-shadow        : 0px 0px 25px 8px rgba(222, 166, 44, 1);
}
