<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Types chart test</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript"
		src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<link rel="stylesheet"
		href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="static/css/controller.css">
	<script type="text/javascript" src="static/js/controller.js"></script>
	<script type="text/javascript" src="static/js/json.js"></script>
</head>
<body>
	<form id='controller'><table><tbody>
		<tr class="label"><td colspan="2">Explorer</td></tr>
		<tr><td><div class="slider" id='e-slider'></div></td><td><input type='text' id="e-box" /></td></tr>
		<tr class="label"><td colspan="2">Achiever</td></tr>
		<tr><td><div class="slider" id='a-slider'></div></td><td><input type='text' id="a-box" /></td></tr>
		<tr class="label"><td colspan="2">Socializer</td></tr>
		<tr><td><div class="slider" id='s-slider'></div></td><td><input type='text' id="s-box" /></td></tr>
		<tr class="label"><td colspan="2">Killer</td></tr>
		<tr><td><div class="slider" id='k-slider'></div></td><td><input type='text' id="k-box" /></td></tr>
	</tbody></table></form>
</body>
</html>