<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Origin - Games from Electronic Arts</title>
	<link rel="stylesheet" type="text/css" href="static/css/layout.css">
	<link rel="stylesheet"
		href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<script type="text/javascript"
		src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript"
		src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script type="text/javascript"
		src="http://underscorejs.org/underscore-min.js"></script>
	<script type="text/javascript" src="static/js/interaction.js"></script>
	<script type="text/javascript" src="static/js/json.js"></script>
	<script type="text/javascript" src="static/js/chart.js"></script>
</head>
<body>
	<div id="header"><div>
		<ul>
			<li class="arrow_button" id="go_left"><a href="#">&lt;</a></li>
			<li class="arrow_button" id="go_right"><a href="#">&gt;</a></li>
			<li id="my_games_tab"><a href="#">My Games</a></li>
			<li id="store_tab"><a href="#">Store</a></li>
			<li id="recommendations_tab"><a href="#">Recommendations</a></li>
		</ul>
		<form>
		</form>
	</div></div>
	<div id="subheader">
		<div class="align_left">
			<ul>
				<li id="refresh_button"><a href="#"><img src="static/images/slicesv2_18a.png" /></a></li>
				<li><span class="label">Show: </span><span class="menu">All Games</span></li>
				<li><span class="label">Platforms: </span><span class="menu">All Platforms</span></li>
				<li><a href="#">&nbsp;</a></li>
			</ul>
		</div>
		<div class="align_right">
			<div id="slider"></div>
			<input type="text" id="search_box" />
		</div>
	</div>
	<div id="content">
		<div id="games"><div id="games_inner">
			<div class="game_cover_wrapper" id="sims3">
				<div class="game_cover_wrapper2">
					<div class="game_cover glow">
						<img src="static/images/cover-thesims3.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>The Sims 3</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
			<div class="game_cover_wrapper" id="ds1">
				<div class="game_cover_wrapper2">
					<div class="game_cover">
						<img src="static/images/cover-deadspace1.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>Dead Space</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
			<div class="game_cover_wrapper" id="ds2">
				<div class="game_cover_wrapper2">
					<div class="game_cover">
						<img src="static/images/cover-deadspace2.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>Dead Space 2</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
			<div class="game_cover_wrapper" id="sc">
				<div class="game_cover_wrapper2">
					<div class="game_cover">
						<img src="static/images/cover-simcity.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>SimCity</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
			<div class="game_cover_wrapper" id="me3">
				<div class="game_cover_wrapper2">
					<div class="game_cover">
						<img src="static/images/cover-mass-effect-3.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>Mass Effect 3</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
			<div class="game_cover_wrapper" id="ds3">
				<div class="game_cover_wrapper2">
					<div class="game_cover">
						<img src="static/images/cover-dead-space-3.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>Dead Space 3</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
			<div class="game_cover_wrapper" id="aot3">
				<div class="game_cover_wrapper2">
					<div class="game_cover">
						<img src="static/images/cover-army-of-two-3.png" />
					</div>
				</div>
				<div class="popup"><div class="popup_inner"><div class="popup_body">
					<h2>AoT: The Devil's Cartel</h2>
					<p><img src="static/images/popup-button-play.png" /></p>
				</div></div></div>
			</div>
		</div></div><!-- id=games_inner, id=games -->
		<div id="sidebar">
			<img src="static/images/background.png" id="chart_bg" />
			<canvas id="chart_canvas" width="260" height="260"></canvas>
			<img src="static/images/suggestions.png" id="suggestions" />
		</div>
	</div><!-- id=content -->
</body>
</html>
